/* Dropdown Button */
.dropbtn {
    background-color: var(--primary);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 250px; 
  }

  /* Remove bullet points from list items */
.dropdown-content ul {
  list-style-type: none; /* Added this line to remove bullet points */
  padding: 0;
  margin: 0;
}
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #0e8e69;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* Add borders between list items */
.dropdown-content li {
  border-bottom: 1px solid #ddd; /* Add border between list items */
}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Adjusting Navbar styles */
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.6rem;
  }
  
  